<?xml version="1.0" encoding="UTF-8"?>
<pages>
<javascript value="true"/>
	<page value="http://www.bing.com">
	<classname value="BingPage"/>
		<actions>
		<action type="fill" path="//input[@name='q']" text="test"/> 
		<action type="click" path="//input[@name='go']"/>
		</actions>
		<target tag="div" />
		<target tag="table" />
		<target tag="form" />
	</page>
</pages>