<?xml version="1.0" encoding="UTF-8"?>
<pages>
	<page value="http://www.google.com">
	<classname value="GooglePage"/>
		<actions>
			<action type="fill" path="//input[@class='gsfi']" text="test"/>
			<action type="click" path="//input[@name='btnK']"/>
			<action  type="wait" time="10000"/>
		</actions>
		<target tag="input" />
		<target tag="table" />
		<target tag="form" />
	</page>
</pages>